<footer class="footer">
    <div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="footer-col links col-md-2 col-sm-4 col-xs-12">
                    <div class="footer-col-inner">
                        <h3 class="title">About us</h3>
                        <ul class="list-unstyled">
                            <li><a href="#">Who we are</a></li>
                            <li><a href="#"></i>Press</a></li>
                            <li><a href="#"></i>Jobs</a></li>
                            <li><a href="#"></i>Contact us</a></li>
                        </ul>
                    </div><!--//footer-col-inner-->
                </div><!--//foooter-col-->
                <div class="footer-col links col-md-2 col-sm-4 col-xs-12">
                    <div class="footer-col-inner">
                        <h3 class="title">Product</h3>
                        <ul class="list-unstyled">
                            <li><a href="{{site.baseurl}}/product/"></i>Reliable Broadband</a></li>
                            <li><a href="{{site.baseurl}}/product/"></i>Managed Wifi</a></li>
                            <li><a href="{{site.baseurl}}/product/"></i>Expandable Telephony</a></li>
                            <li><a href="{{site.baseurl}}/product/"></i>Server Virtualization</a></li>
                            <li><a href="{{site.baseurl}}/product/"></i>Fast, Responsive Web Design</a></li>
                        </ul>
                    </div><!--//footer-col-inner-->
                </div><!--//foooter-col-->
                <div class="footer-col links col-md-2 col-sm-4 col-xs-12 sm-break">
                    <div class="footer-col-inner">
                        <h3 class="title">Support</h3>
                        <ul class="list-unstyled">
                            <li><a href="http://support.airvox.it/"></i class="fa fa-caret-right"></i>Help</a></li>
                            <li><a href="#"></i>Terms of services</a></li>
                            <li><a href="#"></i>Privacy</a></li>
                        </ul>
                    </div><!--//footer-col-inner-->
                </div><!--//foooter-col-->
                <div class="footer-col connect col-md-6 col-sm-12 col-xs-12">
                    <div class="footer-col-inner">
                        <ul class="social list-inline">
                            <li><a href="https://twitter.com/3rdwave_themes" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li class="row-end"><a href="#"><i class="fa fa-rss"></i></a></li>
                        </ul>




                        <!-- Begin MailChimp Signup Form -->

        <form class="signup-form navbar-form" action="//airvox.us12.list-manage.com/subscribe/post?u=9263026c39cd5224fca9cf30c&amp;id=fff452f3b2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">

          <div class="form-group">

            <input type="email" class="form-control" id="mce-EMAIL" name="EMAIL" placeholder="Enter your email address" required="">
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px" aria-hidden="true"><input type="text" name="b_161f68ac171590fcad4006f84_29969a333c" tabindex="-1" value=""></div>

          </div>

          <button type="submit" class="btn btn-cta btn-cta-primary">Subscribe Now</button>
        </form>
                      <br>
                      <br>
                      <!--End mc_embed_signup-->





                    </div><!--//footer-col-inner-->
                </div><!--//foooter-col-->
                <div class="clearfix"></div>
            </div><!--//row-->

        </div><!--//container-->
    </div><!--//footer-content-->
    <div class="bottom-bar">
        <div class="container">
            <small class="copyright">Copyright &copy; 2016 <a href="http://airvox.it" target="_blank">Airvox</a></small>
        </div><!--//container-->
    </div><!--//bottom-bar-->
</footer><!--//footer-->
