---
layout: home
permalink: /product/
---
<div class="headline-bg about-headline-bg">
  <!-- photo by Davide D'Amico https://www.flickr.com/photos/davidedamico/16011415466/ -->
</div><!--//headline-bg-->
<!-- ******Video Section****** -->
<section class="story-section section section-on-bg">
    <h2 class="title container text-center">Our Products</h2>
    <div class="story-container container text-center">
        <div class="story-container-inner" >



            <div class="about">


                            <p> When it comes to business IT, &nbsp; Airvox does the hard stuff.
                        </p>

              <p>We specialise in designing and deploying secure, efficient network infrastructure which you,&nbsp; and your customers,&nbsp; can rely on.
                  &nbsp; And we carefully choose from leading technology brands to maximize the return on your investment.</p>

              <p>Airvox has the breadth of knowledge and experience to support your organisation across the whole spectrum of IT infrastucture technology,
                but we are especially focussed on the following key areas:</p><br>

                <ul class="custom-bullet">
                    <li><b>Reliable Broadband</b> &nbsp; A fast dependable connection to the web is the most important part of any modern IT system.&nbsp;
                      And you need that access anywhere on your site.
                      We have the specialist routing, security and networking knowledge to get your whole business online,
                      and keep you there with 99.99% uptime; &nbsp;even if someone digs up your internet line with a back-hoe!
                    </li><br>
                    <li><b>Managed Wifi</b> &nbsp; Your business, and your customers, need reliable, ubiquitous wifi to get information on the move. We can design,
                      supply and maintain a scalable network of cost-effective access points, to give you seamless wifi coverage across your whole site,
                      no matter how large!</li><br>
                    <li><b>Expandable Telephony</b> &nbsp; With resilient internet connectivity in place, you can switch from traditional PBX telephony to Voice Over IP,
                      cutting cost, and increasing flexibility, while maintaining or improving existing call quality.
                      &nbsp; Whether you choose on-premise or cloud-based IP telephony, we have you covered.</li><br>
                    <li><b>Server Virtualization</b> &nbsp; More and more of your business services run from the cloud; but you still need bullet-proof onsite servers that are backed up and easily maintained in case of breakdown.
                      We use the latest server virtualization techniques to create a robust and failsafe server infrastructure on your premises.
                      And you can reduce your carbon footprint and power bills in the process!</li><br>
                    <li><b>Fast, low-maintenance Website Design</b> &nbsp; Did you know that most websites are accessed today through mobile devices?
                      That's why your website must be responsive, to fit on any size of display, and efficient,
                      so your message is delivered without frustrating delays, even over patchy mobile networks.&nbsp;
                      And all the while, it has to be easy to maintain, and secure from attack by malware.<br>
                      &nbsp; Airvox can work with you to create, or recreate, your website optimised for these new devices,
                      using the largest and most dependable global networks, to make sure your customers get the message loud and clear.</li>
                </ul>








                {% for product in site.data.products %}
                <div class="member col-md-4 col-sm-6 col-xs-12">
                    <div class="member-inner">
                        <figure class="profile">
                            <img class="img-responsive" src="{{site.baseurl}}/assets/images/team/{{product.img}}" alt=""/>
                            <figcaption class="info">
                                <span class="name">{{product.name}}</span>
                                <br />
                                <span class="job-title">{{product.description}}</span>

                            </figcaption>
                        </figure><!--//profile-->
                        <div class="social">
                            <ul class="social-list list-inline">
                              {% if product.www != null %}
                                <li><a href="{{person.www}}"><i class="fa fa-external-link"></i></a></li>
                              {% endif %}
                            </ul><!--//social-list-->
                        </div><!--//social-->
                    </div><!--//member-inner-->
                </div><!--//member-->
                {% endfor %}



            </div><!--//team-->
        </div><!--//story-container-->
    </div><!--//container-->
</section><!--//story-video-->


<div class="sections-wrapper">
    <!-- ******CTA Section****** -->
    <section id="cta-section" class="section cta-section text-center home-cta-section">
        <div class="container">
           <h2 class="title">Ready to supercharge your IT?</h2>
           <div class="form-container">
               <form class="signup-form navbar-form" action="https://formspree.io/enquiries@airvox.it" method="post">
                   <div class="form-group">
                     <ul class=" list-inline">
                         <li>
                           <input style="font-size:20px" name="email" type="email"  class="form-control" placeholder="Enter email address">
                           <input type="hidden" name="_next" value="{{site.baseurl}}/" />
                           <input type="hidden" name="_subject" value="Supercharge my IT" />
                          </li>
                         <li>
                           <button type="submit" class="btn btn-cta btn-cta-primary">Contact Airvox Now</button>
                         </li>
                     </ul>
                   </div>
               </form>
           </div><!--//subscription-form-->
        </div><!--//container-->
    </section><!--//cta-section-->
</div><!--//section-wrapper-->
