<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->

{% include head.html %}

<body class="blog-page blog-page-single">
  <div class="wrapper">
    <header id="header" class="header header-blog">
      {% include header.html %}
    </header>
    <div class="blog-entry-wrapper">
      <div class="blog-entry">
        <article class="post">
          <div class="container">
            <div class="row">
              <div class="blog-entry-content col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1 col-xs-offset-0">
                {{ content }}
              </div>
            </div><!--//row-->
          </div><!--//container-->
        </article><!--//post-->
      </div><!--//blog-entry-->
    </div><!--//blog-entry-wrapper-->
  </div><!--//wrapper-->

  {% include footer.html %}


    {% include javascript.html %}



</body>
</html>
