<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->

{% include head.html %}

<body class="blog-page blog-page-single">

  <body class="home-page">

    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5ZV74L"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5ZV74L');</script>
    <!-- End Google Tag Manager -->


  <div class="wrapper">
    <header id="header" class="header header-blog">
      {% include header.html %}
    </header>
    <div class="blog-entry-wrapper">
      <div class="blog-entry">
        <article class="post">
          <div class="container">
            <div class="row">
              <div class="blog-entry-content col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1 col-xs-offset-0">
                {{ content }}
              </div>
            </div><!--//row-->
          </div><!--//container-->
        </article><!--//post-->
      </div><!--//blog-entry-->
    </div><!--//blog-entry-wrapper-->
  </div><!--//wrapper-->

  {% include footer.html %}


    {% include javascript.html %}



</body>
</html>
